@font-face {
    font-family: 'disco_deckregular';
    src: url('../fonts/discodeck/discodeck-webfont.eot');
    src: url('../fonts/discodeck/discodeck-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/discodeck/discodeck-webfont.woff') format('woff'),
	 url('../fonts/discodeck/discodeck-webfont.ttf') format('truetype'),
	 url('../fonts/discodeck/discodeck-webfont_1.svg#disco_deckregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
}
#section-1 {
    background-color: #009688;
    font: 16em/1 Arial;
    z-index: -1;
    padding-top: 0;
    padding-bottom: 0;
}

#section-1 canvas{
    position: absolute;;
    bottom: 0;
}

#section-2 {
    background-color: #E91E63;
}
#section-3 {
    background-color: #607D8B;
}
#section-4 {
    background-color: #9C27B0;
}
#cd-nav {
    overflow: hidden;
}

#text-and-shit {
  width: 30%;
  position: relative;
  /*z-index: 2;*/
  color: #fff;
  font: 2em/0.7 "disco_deckregular", sans-serif;
}
/*toggle-icon*/

.toggle-icon {
    display: block;
    position: absolute;
    z-index: 10;
    top: 12px;
    right: 5%;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
}
.toggle-icon .bar {
    display: block;
    width: 3.8em;
    height: 0.5em;
    margin: 0.9em 0;
      border-right: 3em solid #fff;
      border-left: 1em solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.6s ease;
}

.toggle-icon .bar:first-child {
  border-right: 3em solid #fff;
  border-left: 1em solid #fff;
}

.toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
}
.toggle-icon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.open .bar:nth-of-type(2),  .open .bar:nth-of-type(3){
  height: 0.2em;
  border-right: 2.8em solid #000;
  border-left: 0.6em solid #000;
}
/*open*/

.open .toggle-icon {
    margin: -3.2em 0 0 0.7em;
}
.open .bar:nth-of-type(1) {
    opacity: 0;
}
.open .bar:nth-of-type(2) {
    margin-left: 1.4em;
    -webkit-transform: rotate(-137deg) translateY(-1.5em);
    -moz-transform: rotate(-137deg) translateY(-1.5em);
    -ms-transform: rotate(-137deg) translateY(-1.5em);
    -o-transform: rotate(-137deg) translateY(-1.5em);
    transform: rotate(-137deg) translateY(-1.5em);
}
.open .bar:nth-of-type(3) {
    margin-left: 0.5em;
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
}
.open.toggle-icon:hover .bar:nth-of-type(2) {
    border-right-color: #e9b8b9;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
}
.open.toggle-icon:hover .bar:nth-of-type(3) {
    border-right-color: #ddf1da;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
}

.text--line {
  font-size: .5em;
}

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);


/*canvas {
  position: absolute;
  top: 0;
  left: 0;
}*/

#section-1 svg {
  position: relative;
  z-index: -1;
  /*top: 0;
  left: 0;*/
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: #009688;
}

.insetshadow {
  position: relative;
  top: -35%;
  z-index: -1;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-align: center;
  /*text-transform: uppercase;*/
  text-rendering: optimizeLegibility;
  color: #3d003d;
  background-color: rgba(255, 255, 255, 0.0);
  letter-spacing: .1em;
  text-shadow:
    -1px -1px 1px #290029,
    2px 2px 1px #660066;
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width:100%;
	background:
		linear-gradient(to bottom, #480048 35%, #C04848 100%);
		/*
		linear-gradient(0, #C04848 5%, #480048 10%),
		linear-gradient(0, #480048 10%, #c9dbe9 30%),
		linear-gradient(0, #c9dbe9 30%, #fff 100%);
		*/
	z-index: -1;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: block;
  background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:transparent url(../img/twinkling.png) repeat top center;

  -moz-animation:move-twink-back 400s linear infinite;
  -ms-animation:move-twink-back 400s linear infinite;
  -o-animation:move-twink-back 400s linear infinite;
  -webkit-animation:move-twink-back 400s linear infinite;
  animation:move-twink-back 400s linear infinite;
}

.stars-background {
  height:35%;
  z-index: -1;
}

.twinkling-background {
  height:35%;
  z-index:-1;
}
